{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>上海三冬暖供应链管理有限公司</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>


</head>
<!--onkeydown="keydownSubmit(event)"-->

<body>
    <div class="indexpage">
        <div class="content">
            <div class="title">
                <img src="{% static 'images/logo.png' %}" class="sdn_logo">
                <ul class="h_ul">
                    <a href="#">
                        <li>首页</li>
                    </a>
                    <a href="#ppjs">
                        <li>公司简介</li>
                    </a>
                    <a href="#cptj">
                        <li>产品推荐</li>
                    </a>
                    <a href="#hzpt">
                        <li>合作平台</li>
                    </a>
                </ul>
            </div>
            <div class="bg">
                <div class="bg_content">
                    <p>
                        <span style="font-size: 60px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 20px;">三冬暖供应链</span>
                        <br>
                        <span style="font-size: 40px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">专业的新零售品牌产品供应链</span>
                    </p>
                    <p style="width: 250px; height: 35px; color:white; line-height: 35px; background-color: rgb(223, 164, 56); padding-left: 5px; margin-top: 30px; font-size: 20px;">
                        <a href="https://maibas.taobao.com/index.htm?spm=a1z10.1-c.w5002-17767300277.2.537211bewkCfmj">进入商城查看所有 > > ></a>
                    </p>
                </div>
            </div>
            <!-- 品牌介绍 -->
            <div class="sdn" id="ppjs">
                <div>
                    <span style="font-size: 20px; width: 240px; margin-top: 80px; font-weight: bold; border-bottom: 8px solid #fdb22e;">品牌介绍</span>
                    <p></p>
                    <span style="color: rgb(170, 170, 170); font-size: 22px;">BRAND STORY</span>
                    <br>
                </div>
                <div class="js_content">
                    <div class="js_txt">
                        <p><span class="js_span">愿景：</span>中国最具有竞争力的新零售供应链整体解决方案运营商</p>
                        <p class="t_f"><span class="js_span">使命：</span>通过技术和创新来持续优化供应链解决方案，为实现在新零售领域成为“六最”（模式最佳/流程最有/效率最高/成本最低/体验最好/速度最快）企业而殚精竭虑。</p>
                        <br><br><br>
                        <p class="t_f"><span class="js_span">价值观：</span>诚信三冬暖，服务“三冬暖”。</p>
                    </div>
                </div>
            </div>
            <!-- 产品推荐 -->
            <div class="cptj" id="cptj">
                <div class="wmdcp">
                    <span style="font-size: 20px; width: 240px; margin-top: 80px; font-weight: bold; border-bottom: 8px solid #fdb22e; color: white;">我们的产品</span>
                    <a href="https://maibas.taobao.com/index.htm?spm=a1z10.5-c.w5002-17767300277.2.416e1c4cgF7w1O" class="c_t_r">进入商城查看全部>>></a>
                    <br><br>
                    <span style="color: rgb(170, 170, 170); font-size: 22px;">COOPERATION</span>
                    <ul class="cp_ul">
                        <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-17767300301.13.4550709fcsm1kx&id=620122351660">
                            <li><img src="{% static 'images/1-拷贝-2.png' %}"></li>
                        </a>
                        <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-17767300301.73.4550709fcsm1kx&id=620137371289">
                            <li><img src="{% static 'images/1-拷贝.png' %}"></li>
                        </a>
                        <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-17767300301.70.4550709fcsm1kx&id=620121403835">
                            <li><img src="{% static 'images/1-拷贝-4.png' %}"></li>
                        </a>
                        <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-17767300301.43.4550709fcsm1kx&id=619477004599">
                            <li><img src="{% static 'images/1.png' %}"></li>
                        </a>
                        <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-17767300301.46.4550709fcsm1kx&id=619595373392">
                            <li><img src="{% static 'images/2.png' %}"></li>
                        </a>
                    </ul>
                </div>
            </div>
            <!-- 想要做什么 -->
            <div class="sdn">
                <div class="wtd_content">
                    <div style="padding-top: 50px;">
                        <span class="wtd_span">三冬暖想要做什么</span>
                        <p></p>
                        <span style="color: rgb(170, 170, 170); font-size: 22px;"> WHAT DO YOU WANT TO DO</span>
                        <br>
                        <div class="wtd_txt">
                            <p>供应链是指围绕核心企业，从配套零件开始，制成中间产品以及最终产品，最后由销售网络把产品送到消费者手中的、将供应商，制造商，分销商直到最终用户连成一个整体的功能网链结构。供应链管理的经营理念是从消费者的角度，通过企业间的协作，谋求供应链整体最佳化。成功的供应链管理能够协调并整合供应链中所有的活动，最终成为无缝连接的一体化过程。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 准备做什么 -->
            <div class="rdtd">
                <div class="rdtd_title">
                    <p>三冬暖准备怎么做</p>
                    <p></p>
                    <img src="{% static 'images/装饰.png' %}" alt="">
                </div>
                <ul class="rdtd_pic">
                    <li><img src="{% static 'images/一链.png' %}" alt="">
                        <p>一链</p>
                        <p style="font-size: 14px;">三冬暖供应链共享平台（链接全球资源）</p>
                    </li>
                    <li style="margin-left: 125px;margin-right: 125px;"><img src="{% static 'images/二轮.png' %}" alt="">
                        <p>二轮</p>
                        <p style="font-size: 14px;">新零售供应链联盟（流量入口）/平台共享中心（流量入口）</p>
                    </li>
                    <li><img src="{% static 'images/多动力.png' %}" alt="">
                        <p>多动力</p>
                        <p style="font-size: 14px;">社交电商平台/社区社群团购/直播短视频/种草/员工福利</p>
                    </li>
                </ul>

            </div>
            <!-- 三冬暖为什么能 -->
            <div class="whydo">
                <div class="whydo_left"></div>
                <div class="whydo_right">
                    <span style="font-size: 20px; width: 240px; margin-top: 80px; font-weight: bold; border-bottom: 8px solid #fdb22e;">三冬暖为什么能</span>
                    <p></p>
                    <br>
                    <div class="whydo_txt">
                        <p><span class="whydo_span" style="background: url({% static 'images/谙熟.png' %}) no-repeat;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;多种电商平台渠道</span>
                            <p style="color: rgb(145, 145, 145);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;包括社交电商平台、社区社群团购渠道在内的新零售，所以更讲诚信、懂规矩</p>
                        </p>
                        <p class=""><span class="whydo_span" style="background: url({% static 'images/创新.png' %}) no-repeat;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务业广阔</span>
                            <p style="color: rgb(145, 145, 145);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务百余家社交电商平台、社区社群团购、直播短视频种草、银行及员工福利平台，行业罕见，易成规模和成本优势</p>
                        </p>
                        <p class=""><span class="whydo_span" style="background: url({% static 'images/服务业.png' %}) no-repeat;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;敢于创新</span>
                            <p style="color: rgb(145, 145, 145);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;具有优良的创新血统和传承，使其“堪当大任”</p>
                        </p>
                        <p class=""><span class="whydo_span" style="background: url({% static 'images/经营.png' %}) no-repeat;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经营理念</span>
                            <p style="color: rgb(145, 145, 145);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与三冬暖“新零售供应链整体解决方案运营商”的经营理念高度契合</p>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 合作平台 -->
            <div class="sdn" id="hzpt">
                <div class="hzpp_content">
                    <div style="padding-top: 50px;">
                        <span class="hzpp_span">合作平台</span>
                        <p></p>
                        <span style="color: rgb(170, 170, 170); font-size: 22px;">COOPERATIVE BRAND</span>
                        <br>
                        <div class="hzpp_txt">
                            <p>经过公司短短半年的飞速发展，公司已经为爱库存、贝店、甩甩宝宝、好食期、蘑菇街、团吧啦、小象优品、悟空百货、哈多多、福员爱、业主趣拼、嗨购校园、魔筷星选等多家平台供货，并获得了相当理想的业绩。</p>
                            <p>与嗨团、肉团、微折购、联联周边游、梵大纯购、闺蜜SHOW、悟空掌柜、懂货团、班尼太太、 蚁团等社群团购提供供应链服务。</p>
                        </div>
                        <ul class="hzpp_right">
                            <li><img src="{% static 'images/1_12.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_13.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_14.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_15.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_16.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_17.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_18.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_19.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/1_21.jpg' %}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sdn_buttom">
                <div class="b_center">
                    <div class="lxwm">
                        <span class="hzpp_span">联系我们</span>
                        <p></p>
                        <div class="lxwm_left">
                            <p><img src="{% static 'images/qq.png' %}">：1960000138</p>
                            <p><img src="{% static 'images/weixin.png' %}">：libin770119</p>
                            <p><img src="{% static 'images/tel.png' %}">：15998925799</p>
                        </div>
                        <div style="padding-top: 30px; float: right;;"><img src="{% static 'images/二维码.png' %}">
                            <p>扫描二维码关注微信公众号</p>
                        </div>

                    </div>
                    <p>
                        <ul class="b_ul">
                            <a href="#">
                                <li>联系我们&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                            </a>
                            <a href="#">
                                <li>免责声明&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                            </a>
                            <a href="#">
                                <li>隐私条款&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                            </a>
                            <a href="#">
                                <li>客户协议</li>
                            </a>
                        </ul>
                    </p>
                    <p>

                    </p>
                    <br>
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CopyRight @ 2019-2028 上海三冬暖供应链管理有限公司 版权所有</p>
                    <p>风险提示：我们提供的现货产品保证金交易，在交易时存在较大的亏损风险。这些产品不一定适合每一位合作人，请确保您完全了解涉及的风险</p>
                    <!-- <p>本站内容仅供参考，非操作建议，请您自行决策交易。</p> -->

                </div>

            </div>
        </div>
    </div>
</body>

</html>